
  	<h1>Welcome to Pangea Physics</h1>
  	<h3>Everything is connected. </br>
	Study every topic at once.</h3>
	<p>
		Studying Physics requires students to understand math and physical meanings of equations. 
	</p>
	
