<div class="center hero-unit">
  	<!-- <h1>Welcome to Pangea Physics</h1> -->
  	</br>
  	<h1>Everything is connected.</h1>
	<h2>Study everything together.</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
